// Define variables for your color scheme

// For example:
$red: rgb(200,160,0);
$blue: rgb(60,60,60);
$yellow: #FFC65A;
$orange: #FFC65A;
$green: rgb(120,130,40);
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #000000;
