.wooden {
  background-image: url("https://res.cloudinary.com/dwrbwadlt/image/upload/v1601028491/y26dniiqiyguu7yp7hlf.jpg")
}

.container-ben {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  color: white;
}

.field-ben {
  color: white;
}
