@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: black;
  font-family: 'Parisienne', cursive;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
